div.h2 {
    -webkit-box-direction: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    color: rgb(0, 122, 174);
    display: block;
    font-family: MyriadPro, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(0, 122, 174);
    outline-style: none;
    outline-width: 0px;
    text-align: left;
}
a#clear-session {
    color: #9d1521;
    font-size: 14px;
    margin-left: 50px;
    text-decoration: underline;
}
.ui-autocomplete {
    z-index: 10000 !important;
}

div.h3 {
    font-size: 30px;
    line-height: 1.2;
    margin: 20px 0 15px;
}